.grid {
  display: flex;
  flex-wrap: wrap;
  background: #F0F0F0;
  height: 100vh;
  width: 100%;

  &__item {
    position: relative;
    flex-basis: calc(100% / 3 - 1rem - 1rem);
    margin: 1rem;
    border: 1px solid #a8a8a8;
    border-radius: 1%;
    background: white;
    max-height: 10rem;
  }
}

.item-text {
  padding: 1rem;
  flex-grow: 1;

  &__name {
    display: flex;
    font-size: 18px;
    margin: -1rem 0rem;

    &--last {

    }

    &--comma {

    }

    &--first {
      margin-left: 0.3rem;
    }
  }

  &__address {

    &--1 {
      margin: -1rem 0rem;
      font-size: 14px;
    }

    &--2 {
      display: flex;
      margin: -1rem 0rem;
      font-size: 14px;
    }
  }
}

.item-button {

  &__actual {
    position: relative;
    padding: 0.8rem;
    border: none;
    width: 100%;
    font-size: 12px;
    color: white;
    background: #EE3F41;
  }
}
